.popup {
  display: none;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.popup::before {
  content: "";
  background-color: #000;
  opacity: 0.5;
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 100%;
}
