.image-big__window {
  position: fixed;
  display: flex;
  z-index: 2;
  justify-content: space-between;
}

@media screen and (max-width: 550px) {
  .image-big__window {
    flex-direction: column-reverse;
    margin: 0;
  }
}
