.popup__handler {
  border: 0;
  padding: 0;
  margin: 48px 0 37px;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

@media screen and (max-width: 425px) {
  .popup__handler {
    margin: 42px 0 25px;
  }
}
