.header {
  display: flex;
  flex-direction: column;
  padding-top: 45px;
  width: calc(100% - 400px);
  margin: 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (min-width: 426px) and (max-width: 1024px) {
  .header {
    width: 80vw;
  }
}

@media screen and (max-width: 425px) {
  .header {
    width: 100%;
    padding-top: 28px;
  }
}
