.profile__add-button {
  margin: 0;
  padding: 0;
  align-self: center;
  margin-left: auto;
  width: 150px;
  height: 50px;
  background-color: #000;
  background-image: url(../../../image/profile/add-button.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  border: 2px solid #fff;
  border-radius: 2px;
  transition: opacity .3s linear;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 425px) {
  .profile__add-button {
    width: 100%;
    margin-left: 0;
    margin-top: 32px;
  }
}
