.profile__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  max-width: 336px;
  padding-top: 1px;
}

@media screen and (max-width: 425px) {
  .profile__info {
    justify-content: center;
  }
}
